{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'home' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="hotels.php"><i class="fa fa-home"></i> Гостиницы</a></li>
                <li class="active">{% if hotels is defined %}{{ hotels.title }}{% else %}Новый отель{% endif %}</li>
            </ol>
        </div>
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if hotels is defined %}{{ hotels.id }}{% else %}0{% endif %}">
            <div class="box-body">
                {% if error is defined  %}
                    {{ error }}
                {% endif %}
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Название" value="{% if hotels is defined %}{{ hotels.title }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="online_link" class="col-sm-2 control-label">Online бронирование</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="online_link" id="online_link" placeholder="Ссылка на online бронирование" value="{% if hotels is defined %}{{ hotels.online_link }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-6">
                        <textarea name="description" id="editor1" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description }}{% endif %}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Изображение</label>
                    <div class="col-sm-8">
                        {% if hotels.logo is not null %}
                        <div><img src="{{ hotels.logo }}" width="300"> </div>
                        <br>
                        {% endif %}
                        <input type="file" name="logo" class="form-control" id="logo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="logo" class="col-sm-2 control-label">Фото номера</label>

                    <div class="col-sm-8">
                        <input type="file" name="files[]" id="filer_input2" multiple="multiple">
                        <div class="jFiler-items jFiler-row">
                            <ul class="jFiler-items-list jFiler-items-grid">
                                {% for value in images %}
                                    <li class="jFiler-item" data-jfiler-index="0" style="">
                                        <div class="jFiler-item-container">
                                            <div class="jFiler-item-inner">
                                                <div class="jFiler-item-thumb">
                                                    <div class="jFiler-item-thumb-image">
                                                        <img src="{{ path }}{{ value }}" draggable="true">
                                                    </div>
                                                </div>
                                                <div class="jFiler-item-assets jFiler-row">
                                                    <ul class="list-inline pull-left">
                                                        <li>
                                                            <div class="jFiler-item-others text-success">
                                                                <i class="icon-jfi-check-circle"></i> {{ value }}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-inline pull-right">
                                                        <li class="del-img" id="{{ value }}">
                                                            <a class="icon-jfi-trash jFiler-item-trash-action"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div><a href="rooms2hotels.php?hid={{ hotels.id }}" title="Редактирование номеров" class="btn btn-facebook"><i class="fa fa-bed"> Редаткирование номеров</i> </a></div>
                <div class="box-header h3">Контактная информация</div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">Контактный телефон</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Номер телефона отеля" value="{% if hotels is defined %}{{ hotels.phone }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone2" class="col-sm-2 control-label">Дополнительный телефон</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="phone2" id="phone2" placeholder="Дополнительный номер телефона" value="{% if hotels is defined %}{{ hotels.phone2 }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">E-mail</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="email" id="email" placeholder="E-mail" value="{% if hotels is defined %}{{ hotels.email }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Адрес</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="address" id="address" placeholder="Адрес" value="{% if hotels is defined %}{{ hotels.address }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subway" class="col-sm-2 control-label">Метро</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="subway" id="subway" placeholder="Ближайшее метро" value="{% if hotels is defined %}{{ hotels.subway }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="maps_link" class="col-sm-2 control-label">Код карты</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="maps_link" id="maps_link" placeholder="Введите код карты" value="{% if hotels is defined %}{{ hotels.maps_link }}{% endif %}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address_description" class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-6">
                        <textarea name="address_description" id="editor2" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.address_description }}{% endif %}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
