{% extends "/admin/index.html.twig" %}
{% set menu_selected = 'home' %}

{% block content %}
    <div class="box box-info">
        <div class="box-header with-border">
            <ol class="breadcrumb">
                <li><a href="hotels.php"><i class="fa fa-home"></i> Гостиницы</a></li>
                <li class="active">Категории номеров</li>
            </ol>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" id="id" value="{% if data.hid is defined %}{{ data.hid }}{% else %}0{% endif %}">
            <input type="hidden" name="type" id="type" value="{% if data.type is defined %}{{ data.type }}{% else %}0{% endif %}">
            <div class="box-body">
                <div class="form-group">
                    <label for="isActive" class="col-sm-2 control-label">Активно</label>
                    <div class="col-sm-6">
                        <input type="checkbox" class="form-control-static" name="isActive" id="isActive" value="1" {% if rooms is defined %}{% if rooms.isActive == 1 %} checked {% endif %}{% endif %} style="width: 25px;">
                    </div>
                </div>
                <div class="form-group">
                        <label for="rid" class="control-label col-sm-2">Категория</label>
                    <div class="col-sm-6">
                        {% if rooms is defined %}
                        <select class="form-control select2 select2-hidden-accessible" name="rid" id="rid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                            {% for value in rooms %}
                                <option value="{{ value.id }}" {#selected="selected"#}>{{ value.title }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Цена</label>
                    <div class="col-sm-3">
                        <label>Час</label>
                        <input class="form-control" type="text" name="cost_hour" id="cost_hour" placeholder="Цена за час">
                    </div>
                    <div class="col-sm-3">
                        <label>Сутки</label>
                        <input class="form-control" type="text" name="cost_day" id="cost_day" placeholder="Цена за сутки">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Описание</label>
                    <div class="col-sm-6">
                        <textarea name="description" id="editor1" rows="10" cols="80">
                            {% if hotels is defined %}{{ hotels.description }}{% endif %}
                        </textarea>
                    </div>
                </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" name="save" id="save">Сохранить</button>
            </div>

        </form>
    </div>
{% endblock %}
